{% extends 'SmirikQuizBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.quiz.edit.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.quiz.edit.page_title'|trans }} <small>{{ 'admin.quiz.edit.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<form class="form-horizontal basic" action="{{ path('smirik_quiz_admin_quiz_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="well">
      <input type="submit" class="btn btn-primary" value="{{ 'quiz.form.actions.edit'|trans }}">
    </div>
</form>

<form action="{{ path('smirik_quiz_admin_quiz_delete', { 'id': entity.id }) }}" method="post">
{{ form_widget(delete_form) }}
<div class="well">
  <a href="{{ path('smirik_quiz_admin_quiz') }}" class="btn">
    {{ 'quiz.form.actions.back'|trans }}
  </a>
  <button type="submit" class="btn btn-danger">{{ 'quiz.form.actions.delete'|trans }}</button>
</div>
</form>

{% endblock %}