{% extends 'SmirikQuizBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.quiz.create.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.quiz.create.page_title'|trans }} <small>{{ 'admin.quiz.create.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<form class="form-stacked basic" action="{{ path('smirik_quiz_admin_quiz_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="actions">
      <input type="submit" class="btn primary large" value="{{ 'quiz.form.actions.create'|trans }}">
    </div>
</form>

<div class="well">
  <a href="{{ path('smirik_quiz_admin_quiz') }}" class="btn">
    {{ 'quiz.form.actions.back'|trans }}
  </a>
</div>

{% endblock %}
