{% extends 'SmirikQuizBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.questions.edit.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.questions.edit.page_title'|trans }} <small>{{ 'admin.questions.edit.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<form class="form-stacked question_form" action="{{ path('smirik_quiz_admin_questions_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
  {{ form_row(edit_form.quizes) }}
  {{ form_row(edit_form.text) }}
  {{ form_row(edit_form.type) }}
  {{ form_row(edit_form.v_file) }}
  {{ form_row(edit_form.num_answers) }}

  <table id="answers_collection" class="answers">
    {% for answer in edit_form.answers %}
      <tr>
      <td>
        {{ loop.index }}
      </td>
      <td>
        {{ form_label(answer.title) }}
        {{ form_errors(answer.title) }}
        {{ form_widget(answer.title, { 'attr': {'class': 'span6'}}) }}
      </td>
      <td>{{ form_row(answer.v_file) }}</td>
      <td>
        {{ form_label(answer.is_right) }}
        {{ form_errors(answer.is_right) }}
        {{ form_widget(answer.is_right, { 'attr': {'class': 'span1'}}) }}
        {{ form_rest(answer) }}
      </td>
      </tr>
    {% endfor %}
  </table>

  {{ form_rest(edit_form) }}
  
  <div class="actions">
    <input type="submit" class="btn primary large" value="{{ 'quiz.form.actions.edit'|trans }}">
  </div>
    
    
    <div id="data-prototype" data-prototype="{{ form_widget(edit_form.answers.get('prototype')) | e }}"></div>
    <!--
    <a href="#" id="add-another-answer">{{ 'admin.questions.add_answer'|trans }}</a>
    -->

    <script type="text/javascript">
        var answersCount = '{{ edit_form.answers | length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-answer').click(function() {
                var answersList = jQuery('#data-prototype');
                var newWidget = answersList.attr('data-prototype');
                newWidget = newWidget.replace(/\$\$name\$\$/g, answersCount);
                newWidget = newWidget.replace(/<div>/g, '<td>');
                newWidget = newWidget.replace(/<\/div>/g, '<\/td>');
                answersCount++;
                newWidget = newWidget.replace(/<div id=\"smirik_quizbundle_questiontype_answers/g, '<td>'+answersCount.toString()+'</td><div id=\"smirik_quizbundle_questiontype_answers');
                var newLi = jQuery('<tr></tr>').html(newWidget);
                newLi.appendTo(jQuery('#answers_collection'));
                return false;
            });
        })
    </script>    

</form>

<form action="{{ path('smirik_quiz_admin_questions_delete', { 'id': entity.id }) }}" method="post">
{{ form_widget(delete_form) }}
<div class="well">
  <a href="{{ path('smirik_quiz_admin_questions', { 'quiz_id': entity.firstquiz.id }) }}" class="btn">
    {{ 'quiz.form.actions.back'|trans }}
  </a>
  <input type="submit" class="btn danger" value="{{ 'quiz.form.actions.delete'|trans }}">
</div>
</form>

{% endblock %}
