{% extends '::base.html.twig' %}

{% block title %}{{ 'admin.questions.edit.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.questions.edit.page_title'|trans }} <small>{{ 'admin.questions.edit.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<form class="form-stacked basic" action="{{ path('admin_questions_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
  {{ form_row(edit_form) }}
  <div class="actions">
    <input type="submit" class="btn primary large" value="{{ 'quiz.form.actions.edit'|trans }}">
  </div>
    
    <a href="javascript:void(0);" onclick="javascript:$('#submit_button').append($('#choumei_looksbundle_lookstype_accessories').attr('data-prototype'));">Add</a>
</form>

<form action="{{ path('admin_questions_delete', { 'id': entity.id }) }}" method="post">
{{ form_widget(delete_form) }}
<div class="well">
  <a href="{{ path('admin_questions') }}" class="btn">
    {{ 'quiz.form.actions.back'|trans }}
  </a>
  <input type="submit" class="btn danger" value="{{ 'quiz.form.actions.delete'|trans }}">
</div>
</form>

{% endblock %}
