{% extends 'SmirikQuizBundle:Admin:layout.html.twig' %}

{% block title %}{{ 'admin.questions.list.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'admin.questions.list.page_title'|trans }} <small>{{ 'admin.questions.list.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<form id="quiz_choose_form" action="{{ path('smirik_quiz_admin_questions') }}" method="GET">
<div class="quiz_choose">
  {{ 'quiz.select'|trans }}: 
  <select name="quiz_id" onchange="$('#quiz_choose_form').submit();">
    <option value=""></option>
    {% for quiz in quizes %}
      <option value="{{ quiz.id }}" {% if quiz.id == quiz_id %}selected{% endif %}>{{ quiz.title }}</option>
    {% endfor %}
  </select>
</div>
</form>

<table class="records_list zebra-striped">
  <thead>
    <tr>
      <th>{{ 'admin.questions.list.quiz'|trans }}</th>
      <th>{{ 'admin.questions.list.text'|trans }}</th>
      <th>{{ 'admin.questions.list.type'|trans }}</th>
      <th>{{ 'admin.quiz.form.created_at'|trans }}</th>
      <th>{{ 'admin.quiz.form.actions'|trans }}</th>
    </tr>
  </thead>
  <tbody>
  {% for entity in entities %}
  <tr>
    <td>{{ quiz }}</td>
    <td>{{ entity.text }}</td>
    <td>{{ entity.type }}</td>
    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
    <td>
      <ul>
        <li>
          <a href="{{ path('smirik_quiz_admin_questions_edit', { 'id': entity.id }) }}">{{ 'quiz.form.actions.edit'|trans }}</a>
        </li>
      </ul>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('smirik_quiz_admin_questions_new', { 'quiz_id': quiz_id }) }}">
            {{ 'quiz.form.actions.create'|trans }}
        </a>
    </li>
</ul>

{% endblock %}