{% extends 'SmirikQuizBundle::layout.html.twig' %}

{% block header %}
<h1>{{ 'admin.questions.create.page_title'|trans }} <small>{{ 'admin.questions.create.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<form class="form-stacked question_form basic" action="{{ path('smirik_quiz_admin_questions_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="actions">
      <input type="submit" class="btn primary large" value="{{ 'quiz.form.actions.create'|trans }}">
    </div>
</form>

<div class="well">
  <a href="{{ path('smirik_quiz_admin_questions', { 'quiz_id': quiz_id }) }}" class="btn">
    {{ 'quiz.form.actions.back'|trans }}
  </a>
</div>
{% endblock %}