{% extends 'SmirikQuizBundle::layout.html.twig' %}

{% block title %}{{ 'quiz.final.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ user_quiz.quiz.title }} <small>{{ 'quiz.final.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<div class="final_results">
  <ul>
    <li>{{ 'quiz.final.total_questions'|trans }}: {{ user_quiz.quiz.numquestions }}</li>
    <li>{{ 'quiz.final.right_answers'|trans }}: {{ user_quiz.numrightanswers }}</li>
  </ul>
  
  <h3>{{ 'quiz.final.questions_with_errors'|trans }}</h3>
  <p>
    {{ 'quiz.final.errors_note'|trans }}
  </p>
  <ul>
    {% for user_question in user_quiz.usersquestions %}
      {% if user_question.isright == 0 %}
        <li>{{ user_question.question.text }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<a href="{{ path('smirik_quiz_index') }}" class="btn">{{ 'quiz.home'|trans }}</a>

{% endblock %}