{% extends '::base.html.twig' %}

{% block title %}{{ 'quiz.index.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'quiz.index.page_title'|trans }} <small>{{ 'quiz.index.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<table>
  <tr>
    <th>{{ 'quiz.index.table.header.quiz'|trans }}</th>
    <th>{{ 'quiz.index.table.header.start'|trans }}</th>
  </tr>
  
  {% for quiz in quizes %}
    <tr>
      <td>{{ quiz.title }}</td>
      <td>
        {% if users_quiz[quiz.id] %}
          <a href="{{ path('quiz_go', {'uq_id': users_quiz[quiz.id].id, 'number': users_quiz[quiz.id].current }) }}" class="btn">{{ 'quiz.index.table.continue_link'|trans }}</a>
        {% else %}
          <a href="{{ path('quiz_start', { 'quiz_id': quiz.id }) }}" class="btn">{{ 'quiz.index.table.start_link'|trans }}</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  
</table>

{% endblock %}