{% extends '::base.html.twig' %}

{% block title %}{{ 'quiz.start.page_title'|trans }}{% endblock %}

{% block header %}
<h1>{{ 'quiz.start.page_title'|trans }} <small>{{ 'quiz.start.title.comment'|trans }}</small></h1>
{% endblock %}

{% block body %}

<h3>{{ quiz.title }}</h3>

<div class="description">
  {{ quiz.description }}
</div>

<a href="{{ path('smirik_quiz_go', {'uq_id': user_quiz.id, 'number': 0 }) }}" class="btn large">{{ 'quiz.start.start_link'|trans }}</a>

{% endblock %}